$heightForm : 400px;
$heightTable : 1000px;

.BackGround {
    background-image: linear-gradient(135deg, #7166EE, #66D7EE);
    width: 100vw;
    height:$heightForm + $heightTable;
}

.bgForm {
    background: #030407;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px 1px #030407;
    z-index: 99;
    border-top: 1px solid rgba(113, 102, 238, 0.5);
    border-radius:0 15px 15px;
    &::before {
        font-weight: 500;
        content: "Đăng Ký";
        text-align: center;
        line-height: 50px;
        display: block;
        position: absolute;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 150px;
        top: -50px;
        height: 50px;
        background: #030407;
        box-shadow: 0 0 30px 1px #030407;
        z-index: -2;
    }

    &::after {
        font-weight: 500;

        content: "Đăng Nhập";
        color: rgba(255, 255, 255, 0.2);
        text-align: center;
        line-height: 50px;
        display: block;
        position: absolute;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 150px;
        top: -50px;
        left: 160px;
        height: 50px;
        background: #030407;
    }
}
.header {
    font-weight: 500;
    font-size: 30px;
}

.tableCustom {
    background: transparent;
    color: black;
    .tbody {
        background: transparent;
    }
}